<script setup lang="ts">
import { inject,type Ref } from 'vue';
const drawer2 = inject<Ref<boolean>>('drawer2')
const rail2 = inject<Ref<boolean>>('rail2')
</script>
<template>
     <v-navigation-drawer image="https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg" permanent theme="dark"
        v-model="drawer2" :rail ="rail2" @click="rail2 = false">
        <v-list nav>
            <v-list-item prepend-icon="mdi-email" title="Inbox" value="inbox"></v-list-item>
            <v-list-item prepend-icon="mdi-account-supervisor-circle" title="Supervisors" value="supervisors"></v-list-item>
            <v-list-item prepend-icon="mdi-clock-start" title="Clock-in" value="clockin"></v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>