<script setup lang="ts">
import { provide } from 'vue';
import { ref } from 'vue';
import { RouterLink, RouterView } from 'vue-router'
import MainAppBar from './components/MainAppBar.vue';
import MainMenu from './components/MainMenu.vue';
import SubMenu from './components/SubMenu.vue';

const rail = ref(true)
const drawer = ref(true)
const rail2 = ref(true)
const drawer2 = ref(true)
provide('rail',rail)
provide('rail2',rail2)
provide('drawer',drawer)
provide('drawer2',drawer2)
</script>

<template>
  <v-layout class="rounded rounded-md">
    <MainMenu></MainMenu>
    <MainAppBar></MainAppBar>
    <SubMenu></SubMenu>
    <v-main class="d-flex align-center justify-center" style="min-height: 300px;">
      <div class="pa-16">
        <RouterView></RouterView>
      </div>
    </v-main>
  </v-layout>
</template>

<style scoped></style>
